@using HW_Task_10;
@{
    Layout = "~/Layouts/_MainLayout.cshtml";
    Page.Title = "LookUsers";
    string[] users = LogicKeeper.Logic.GetAllUsers();
}

You look users.
<br />
<br />
<a href="~/Pages/User/AddUser.cshtml">- Add user</a>
<br />
<br />
DataBase contains @users.Length users.
@for (int i = 0; i < users.Length; i++)
{
    <br />
    <a href="~/Pages/User/UserPage.cshtml?id=@i">
        - @users[i]
    </a>
}
<br />
<br />
<a href="~/index.cshtml">
    - Back
</a>
