@{
    Layout = "~/Layouts/_MainLayout.cshtml";
    Page.Title = "Main";
}

<a href="~/Pages/UsersList.cshtml">
    - Look Users
</a>
<br />
<a href="~/Pages/AwardsList.cshtml">
    - Look Awards
</a>