@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Page.Title</title>
</head>
<body>
    <div>
        @if (!User.Identity.IsAuthenticated)
        {
            <div style="float: left">
                Hello, Guest!
            </div>
            <div style="float: right; margin-right: 10px">
                <a href="~/Pages/Client/Register.cshtml">
                    Register
                </a>
            </div>
            <div style="float: right; margin-right: 10px">
                <a href="~/Pages/Client/LogIn.cshtml">
                    LogIn
                </a>
            </div>
        }
        else
        {
            <div style="float: left">
                Hello, @User.Identity.Name!
            </div>
            <div style="float: right; margin-right: 10px">
                <a href="~/Pages/Client/LogOut.cshtml">
                    LogOut
                </a>
            </div>
        }
    </div>
    <br />
    <br />
    <div>
        @RenderBody()
    </div>
</body>
</html>
