@using CSoDnDP.Model;
@{
    Layout = "~/Layouts/_AuthLayout.cshtml";
    Page.Title = "Control System of Dungeon and Dragons Parties";

    int id = -1;
    if (int.TryParse(Request["id"], out id))
    {
        int state = -1;
        if(int.TryParse(Request["state"], out state))
        {
            LogicKeeper.Logic.Party.SetPartyState(id, state);
            Response.Redirect($"~/Pages/Parties/LookParty.cshtml?id={id}");
        }
    }
}

Error!
<br />
<br />
<a href="~/Pages/PartiesList.cshtml" class="link_button">
    Back
</a>